# Dependencies (all services)
**/node_modules/

# Env files (all services)
**/.env
**/.env.*

# Logs
**/*.log

# Coverage
**/coverage/

# Build folders
**/dist/
**/build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker (if used later)
**/docker-compose.override.yml